.image1 {
    background-image: url(lens.jpg);
    background-size: 100% auto;
    height: 900px;
}
.row2 {
    background-color: rgb(105, 99, 99);
    height: 500px;
}

.row3 {
    height: 400px;
    text-align: center;
}

.image3 {
    background-image: url(lightning.jpg);
    background-size: 100% auto;
    height: 500px;
}
.row4 {
    background-color: black;
    height: 100px;
}