.image1 {
    background-image: url(lens.jpg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}
.row2 {
    background-color: gray;
    min-height: 500px;  
}

.row3 {
    background-color: rgb(53, 47, 47);
    height: 400px;
    text-align: center;
}

.image3 {
    background-image: url(lightning.jpg);
    background-size: cover;
    min-height: 75vh;
    background-repeat: no-repeat;
}
.row4 {
    background-color: black;
    min-height: 100px;
}